body{
    margin: 0;
    padding: 0;
    background: url(../imagens/pic1.jpg);
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px; 
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 14px;
    padding: 2px;
}

.loginbox input[type="text"]:focus, input[type="password"]:focus{
    border-color: #ffc107;
    transition: all 0.3s;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
    transition: all 0.4s;
}

.loginbox input[type="submit"]:not(:hover){
    transition: all 0.4s;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
    transition: 0.3s;
}

.loginbox a:not(:hover){
    transition: 0.3s;
}

.acesso_negado i{
    border-radius: 10px 0px 0px 10px;
    width: 50px;
    height: 85px;
    font-size: 44px;
    color: red;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 85px;
    margin-right: 10px;
}

.acesso_negado{
    width: 385px;
    height: 85px;
    background-color: #212121;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    align-items: center;
    color: #bdbdbd;
    display: none;
}