<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style_index.css">
    <link rel="shortcut icon" type="text/css" href="https://orig00.deviantart.net/e4ac/f/2016/147/2/0/f4sellout___custom_fallout_4_f4se_shortcut_icon_by_nzxvyy-da3zdb0.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
    
    <div class='acesso_negado' style="@ViewBag.Aviso">
        <i class='fas fa-exclamation-circle'></i>
        <p>@ViewBag.Mensagem</p>
    </div>

    <div class="loginbox">
        <img src="/imagens/avatar.png" class="avatar">
        <h1>Login Here</h1>
        <form action="/Usuario/Login" method="POST">
            <p>Username</p>
            <input type="text" name="email" placeholder="Enter Email" required maxlength="80">
            <p>Password</p>
            <input type="password" name="senha" placeholder="Enter Password" required maxlength="50">
            <input type="submit" value="Login">
            <a href="/Usuario/Cadastro.cshtml">Don't have an account?</a>
        </form>
    </div>


    <script type="text/javascript">
        function Comecar(){
            var teste = document.querySelector(".acesso_negado");
            var teste2 = document.createTextNode("olacaraio");
            teste.appendChild("<h1>");
            teste.appendChild(teste2);

        }
    </script>
</body>
</html>